<?xml version="1.0" encoding="utf-8"?>
<routes>
  <route route_type="public" route_prefix="vb" sub_name="requests" format="requests/:int&lt;request_id&gt;/" controller="XP\VB:Request" context="members"/>
  <route route_type="public" route_prefix="verified" controller="XP\VB:Verified" context="forums"/>
</routes>
